@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Ventas</h1>
    <p class="lead">En este sistema usted podrá cargar sus empleados, sus clientes, sus productos y llevar el el seguimientos de su factuación</p>
    <p>@Html.ActionLink("Ingresar Venta", "Nuevo", "Ventas", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>